@media screen and (max-width:600px){
   body{
      width: 100%;

   }
   .div1 .header li{
      margin-left: 0%;
      padding-right:0px;
      padding-left: 0%;
      
      font-size:small;
      text-align:left;
   
   }
   #paragraph #align{
      font-size:small;

   }
   #paragraph .bullet{
      font-size: small;
      padding-left: 0;
   }
   #paragraph .quality1{
      font-size: x-large;
   }
   #paragraph .priority{
          font-size: small;
          margin-top: 0;
   }
   #paragraph .button {
      font-size: xx-small;

   }
   .header{
      font-size: x-small;
      padding-left: 0%;
   }
   #firstpic .h3{
      font-size: small;

   }
   #firstpic #firstpara{
      font-size: x-small;
   }
   
   .gap{
      width:2%;
   }
   #paragraph
   {
    width: 30.666666%;
      margin: auto;
   }
   #firstpic  .inner{
           
    height:100px; width:100%;

   }
   .h3{
    width: 100%;
    }
    .footer {
     font-size: small;
       }
   .space h1{
   font-size:xx-large;
   width: 100%;
   font-family: calibri;
   font-weight:bolder;
   color: rgb(121, 120, 120);
     }
   
}
@media screen and (min-width:600px){
#firstpic .inner{
   width: 100%;
}
}
   *{
   box-sizing: border-box;
   }

   p{
     align-content: center;    
    font-size: x-large;
     font-weight:300;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
     float: left;
     margin-left: 3rem;
     }

     .header li{
      display: inline;
      padding: 25px;
      text-align:center;      
     }

     .div1 li:first-child{
        background-color: yellowgreen;

     }
     
   
     .clear{
        clear: both;
         margin-top: 2rem;
     }

          .space{
             width: 100%;
             font-family: calibri;
             font-size: xx-large;
             font-weight:bolder;
             color: rgb(121, 120, 120);
          }
       span{
          color: greenyellow;
       }

       #firstpic{
          background-color: grey;
          width: 30.666666%;
          align-self: center;
          float: left;
              }
        
        .h3{
         font-family: sans-serif;
         font-size:x-large;
         font-weight: 300;  
         text-align: center;
         background-color: greenyellow;
         padding: 1rem;
         color: white;
         margin-bottom: 0vh;
         margin-top: 0vh;
           }
           .gap {
              float: left;
              width: 2%  
           }

       #firstpara{
         font-family: sans-serif;
         font-weight: 300;
       }

       .plus{
          
          width: 5%;
          background-color: yellowgreen;
          padding: 2vh;
          margin-top: 0vh;
          margin-bottom: 0vh;
              }
      
       .gap2{
         float: left;
         width: 2%;
        }
            .quality1 .quality2 .quality3{
               font-weight: 300;
                margin-top: 10vh;
                text-transform: uppercase;
                text-align: left;
               
            }
            #paragraph{
               width: 30.666666%;
               font-family: sans-serif;
               font-size:x-large;
               font-weight: 300;  
               text-align: left;
               float: left;
            }

            .priority{
               color: greenyellow;
               text-align: left;
               margin-left: 0vh;
            }
            .button{
               
               padding:2vh;
               margin-left: 0vh;
               text-align: left;
               font-size: medium;
               color: white;
               background-color: rgb(109, 107, 107);
            }
            #align{
               text-align: left;
               margin-left: 0vh;
             }
             #empty{
                width: 4%;
                float: left;
             }
             .footer{
                width: 44%;
                background-color:grey;
                float: left;
                   }
             .footer1{
               float: left;
                background-color: rgb(146, 231, 17);
                color: white;
                padding: 5vh;
                margin-right: 4vh;
                   }
             #color{
                color: greenyellow;
                margin-top: 4vh;                
             }
